# Ignore virtual environments
venv/
ENV/
env/
.venv/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs and editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Data outputs
data/raw/
data/clean/
data/features/
data/database.db
